ZABBIX_URL=https://zabbix.example.com
ZABBIX_TOKEN=your_zabbix_api_token_here

NETAPP_CLUSTER_IP=192.168.1.100
NETAPP_USER=your_netapp_username
NETAPP_PASS=your_netapp_password

NETBACKUP_MASTER_SERVER=netbackup.example.com
NETBACKUP_API_TOKEN=your_netbackup_api_token
NETBACKUP_USER=your_netbackup_windows_user
NETBACKUP_PASS=your_netbackup_windows_password
